BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterFunction: true
  AfterNamespace: false
  BeforeElse: false
SortIncludes: CaseSensitive
